<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Task Todo List Vue</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container-fluid">
    <div v-cloak id="my-form">
        <todo-list></todo-list>
    </div>

    <script type="text/x-template" id="todo-item-template">
        <div class="my-1">
            <template v-if="!item.editingMode">
                <span v-text="item.text"></span>
                <button @click="deleteItem" type="button" class="btn btn-secondary btn-sm">Del</button>
                <button @click="editItem" type="button" class="btn btn-primary btn-sm">Edit</button>
            </template>
            <template v-else>
                <div class="row m-0">
                    <label for="item-input"></label>
                    <input v-on:keyup.enter="saveItem" id="item-input" v-model="item.inputFieldText">
                    <button @click="saveItem(item.inputFieldText)" type="button" class="btn btn-secondary btn-sm mx-1">
                        Save
                    </button>
                    <button @click="cancelEdit" type="button" class="btn btn-primary btn-sm">Cancel</button>
                </div>
                <span v-if="item.isEmptyFieldText" class="text-danger my-0">Please input text</span>
            </template>
        </div>
    </script>

    <script type="text/x-template" id="todo-list-template">
        <div class="mx-3">
            <h1>Список задач</h1>
            <div class="row m-1">
                <label for="add-item-input"></label>
                <input v-model="newItemText" v-on:keyup.enter="addItem" type="text" id="add-item-input">
                <button @click="addItem" type="button" class="btn btn-primary btn-sm mx-2">Add</button>
                <span v-if="isEmptyInputText" class="text-danger my-0">Please input text</span>
            </div>
            <div class="m-1">
                <todo-item
                        :item="item"
                        :key="item.id"
                        @delete-item="deleteItem"
                        @edit-item="editItem"
                        @cancel-edit="cancelEdit"
                        @save-item="saveItem"
                        v-for="item in items"></todo-item>
            </div>
        </div>
    </script>
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="script.js"></script>

</body>
</html>