* {
    box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3px;
}

.todo-text {
    padding: 5px;
    border: none;
    border-bottom: 2px solid #33e00c;
}

button {
    padding: 5px;
    margin: 2px;
}

.item {
    padding-right: 10px;
}

.common {
    margin: 10px;
}